/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box; 
  margin: 0;
  padding: 0; 
}

:root {
  --main-color:black;
  --background-color: white;
  --second-text-color:#333333;
  --sign-up-button-bg:#F4F4F4;
  --sign-up-button-color:#999999;
  --caroCarrouselMainColor:#37332f;
  --caroCarrouselAccentColor:#1b75b3;
	--caroCarrouselShadeColor:#e1ddd966;
  --footerBgColor:#FAFAFA;
  --borderColor:#E5E5E5;
  --formInputColor:#1A1A1A;
  --saleColor:#ae0000;

}

body {
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/**********/
/* HEADER */
/**********/
header {  
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  background-color:var(--background-color);
  z-index: 200;
}

/* intro text */
header > p:first-of-type {
  background-color:var(--main-color);
  color:var(--background-color);
  text-align: center;
  line-height: 1em;
  font-size: 0.714286em;
  text-transform: uppercase;
  padding: 1em;
  margin: 0;
  grid-column-start: 1;
  grid-column-end: -1;

}


/* logo */
header > a {
  display: flex;
  order: 1;
  justify-content: center;  
}

header > a img{
  width: 5em;

}

/* open button */
header > button {
  position:relative;
  width:3em; height:3em;
  margin:0; padding:1.5em 0 0;
  font-size:1em;
  appearance:none;
  border:none;
  background-color: var(--background-color);
  align-self: center;

}

header > button span {
  position:absolute;
  left:.75em;
  width:1.5em;
  height: 2px;
  background-color: var(--main-color);
}

header button span:first-of-type {
  top:.7em;
}

button span:nth-of-type(2) {
  top:1.1em;

}

button span:last-of-type {
  top:1.5em;
}




/* hoofdmenu */
header nav {
  position: fixed;
  top: 0; bottom:0;
  left: 0;
  transform:translatex(-100%);
  background-color:var(--background-color);
  width: 70%;
  transition: 0.5s;
  z-index: 200;
  overflow: scroll;
  font-size: 1em;
  scroll-snap-type: y mandatory;

}

header nav.noScroll {
  overflow: hidden;
}

header nav ul {
  margin: 0;
  list-style-type: none;
}

header nav ul li {
  padding: 1em;
}

header nav ul li:first-of-type {
  margin-top: 2em;
}

header nav ul li a {
  text-decoration: none;
  color: var(--main-color);
  letter-spacing: 0.02em;
}

header nav li:nth-of-type(8) a {
  color:var(--saleColor);
}

header nav > a:first-of-type  {
  display: flex;
  justify-content: center;
  align-self: center;
}

header nav > a img:first-of-type{
  height: 4em;
  position: absolute;
  top:0;
  
}

nav.toonMenu {
  transform:translatex(0%);
}

/* close button */
header nav > button:first-of-type {
  border: none;
  position: relative;
  left: 0%;
  top: 0.8em;
  font-size: 1.5em;
  background-color: transparent;
  z-index: 400;
}

/* onderste  gedeelte van de nav */
.navFooter {
  background-color: var(--footerBgColor);
  border-top: 1px solid var(--borderColor);
}

/* de about, customerservice en contact buttons */
.navFooter button {
  text-decoration: none;
  color: var(--main-color);
  letter-spacing: 0.02em;
  border: none;
  background-color: transparent;
  font-size: 1em;
  padding: 1em 0  1em 1em;
  letter-spacing: 0.02em;
}

/* socials in de .navFooter */
.navFooter ul:nth-of-type(4) {
  display: flex;
  flex-direction: row;
}

.navFooter ul:nth-of-type(4) li {
  margin: 0;
}

.navFooter ul:nth-of-type(4) img {
  width: 2.5em;
}

/* about customer service en contact */
.navFooter ul:nth-of-type(1),
.navFooter ul:nth-of-type(2),
.navFooter ul:nth-of-type(3) {
  transform:translatex(-100%);
  height: 0;

}

.navFooter ul:nth-of-type(1) li:first-of-type,
.navFooter ul:nth-of-type(2) li:first-of-type,
.navFooter ul:nth-of-type(3) li:first-of-type {
  padding: 0;
}

.navFooter ul:nth-of-type(1) h5,
.navFooter ul:nth-of-type(2) h5,
.navFooter ul:nth-of-type(3) h5 {
  letter-spacing: 0.35px;
  font-weight: normal;
  font-size: 1em;
  position: absolute;
  top: 1.5em;
  left: 4em;
}

.navFooter ul:nth-of-type(1) button,
.navFooter ul:nth-of-type(2) button,
.navFooter ul:nth-of-type(3) button {
  position: absolute;
  top: 0.6em;
  left: 0;
  margin: 0;
}

.navFooter ul:nth-of-type(1) li:nth-of-type(3),
.navFooter ul:nth-of-type(2) li:nth-of-type(3),
.navFooter ul:nth-of-type(3) li:nth-of-type(3) {
  border-top: 1px solid var(--borderColor);
}

.navFooter ul:nth-of-type(1).toonFooterNav,
.navFooter ul:nth-of-type(2).toonFooterNav,
.navFooter ul:nth-of-type(3).toonFooterNav  {
  transform:translatex(0%);
  height: auto;
  position: fixed;
  top: 0; bottom:0;
  left: 0;
  background-color:var(--background-color);
  width: 100%;
  height: 100%;
  transition: 0.5s;
  z-index: 300;
  scroll-snap-align: start;
}

/* terms privacy and others */
.navFooter ul:nth-of-type(5) {
  color: var(--sign-up-button-color);
  font-size: 0.85em;
}

/* onderste p in de .navFooter */
nav p {
  margin: 1em;
  color: var(--sign-up-button-color);
  font-size: 0.85em;
}


/* search and basket button */
header > ul {
  order: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

header > ul li {
  list-style-type: none;
}

header > ul li img {
  width: 3em;
}




/**********/
/* MAIN */
/**********/


main > h2 {
  margin: 1em;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 0.1em;
  font-size: 1.2em;
}

/* sort view en filter  */
.filters ul:first-of-type{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  border: 1px solid var(--borderColor);

}

.filters ul:first-of-type li{
  list-style-type: none;
  margin: 2em;
  
}

.filters ul:first-of-type li button {
  border: none;
  background-color: transparent;
  font-size: 1em;
  letter-spacing: 0.025em;
}

.filters select {
  width: 2em;
  opacity: 0;
}


.filters ul:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  transform:translatex(100%);

  list-style-type: none;
  position: fixed;
  top: 0; bottom:0;
  right: 0;
  background-color:var(--background-color);
  width: 80%;
  transition: 0.5s;
  z-index: 200;
  font-size: 1em;
}

.filters ul:nth-of-type(2).toonFilters {
  transform:translatex(0%);
}

.filters ul:nth-of-type(2) button {
  border: none;
  position: absolute;
  left: 10%;
  top: 0.8em;
  font-size: 1.5em;
  background-color: transparent;
  z-index: 400;
}

.filters ul:nth-of-type(2) h2 {
  display: flex;
  justify-content: center;
  align-self: center;
  font-weight: normal;
  font-size: 1em;
  letter-spacing: 1.4px;
  margin: 1.5em;
}

.filters ul:nth-of-type(2) li {
  padding: 1em;
  border: 1px  solid var(--borderColor);
  margin-right:-1px; margin-bottom:-1px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 0.8em;

}


/* de brand filters */
.filters ul:nth-of-type(3) {
  display: flex;
  flex-direction: column;
  transform:translatex(100%);

  list-style-type: none;
  position: fixed;
  top: 0; bottom:0;
  right: 0;
  background-color:var(--background-color);
  width: 80%;
  transition: 0.5s;
  z-index: 200;
  font-size: 1em;
}

.filters ul:nth-of-type(3).toonBrands {
  transform:translatex(0%);
}

.filters ul:nth-of-type(3) button {
  border: none;
  position: absolute;
  left: 10%;
  top: 0.8em;
  font-size: 1.5em;
  background-color: transparent;
  z-index: 400;
}

.filters ul:nth-of-type(3) h2 {
  display: flex;
  justify-content: center;
  align-self: center;
  font-weight: normal;
  font-size: 1em;
  letter-spacing: 1.4px;
  margin: 1.5em;
}

.filters ul:nth-of-type(3) li {
  padding: 1em;
  border: 1px  solid var(--borderColor);
  margin-right:-1px; margin-bottom:-1px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 0.8em;
}

.neighborhoodHidden {
  display: none;
}



/* latest products */

main section:nth-of-type(2) > a  {
  text-align: center;
  letter-spacing: 0.1em;
  line-height: 1.3em;
  text-transform: uppercase;
  color: var(--main-color);
  text-decoration: none;
  display: flex;
  justify-content: center;
  
}

main section:nth-of-type(2) ul li a:hover {
  transform: scale(1.1);
}


main section:nth-of-type(2) ul {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(128px, 1fr) );
  list-style-type: none;
  grid-gap: 1.5em;
  line-height: 1.4em;
  padding-bottom: .2em;
  justify-content: center;
  align-items: baseline;


}

main section:nth-of-type(2) ul li  {
  display: flex;
  line-height: 1.4em;
  margin: 0.7em;

}

main section:nth-of-type(2) ul li > a  {
  text-decoration: none;
}

main section:nth-of-type(2) ul li > a:visited  {
  color:var(--main-color)
}



main section:nth-of-type(2) ul li img {
  width: 100%;
}

/* het removen van classes */

main section:nth-of-type(2) ul li.neighborhoodHidden {
  display: none;



}











/**********/
/* FOOTER */
/**********/

footer{
  text-align: center;
  line-height: 2em;
  background-color: var(--footerBgColor);
  margin-top: 4em;
  border-top: solid 1px var(--borderColor);
}

/* sign  up for mailing list */

footer > section {
  margin-top: 3em;
}

section form {
  text-align: left;
  display: flex;
  flex-direction: column;
  margin: 1em;
  text-transform: uppercase;
}

section form input {
    padding: 8px 0px;
    color: var(--formInputColor);
    font-size: 1em;
    line-height: 1.37em;
    letter-spacing: 0.45px;
    border-width: 0px 0px 1px;
    border-bottom-color: var(--borderColor);
    background-color: transparent;
    width: 70%;

}

section form button{
  font-size: 1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  outline-style: none;
  border-style: none;
  height: 2.75em;
  width: 7em;
  background-color:var(--sign-up-button-bg);
  color: var(--sign-up-button-color);
  line-height: 1.37em;
  text-align: center;
  margin-top: 1em;
}

section.socials ul {
  list-style-type: none;
  display: flex;
  justify-content: center;

}

section.socials ul img {
  width: 3.1em;
}

/* De dropdown menu's in de footer */

section.footerNav  ul {
  height: 0px;
  overflow: hidden;
  border: solid 1px var(--borderColor);


}

section.footerNav  ul li a {
  text-decoration: none;
  color: var(--second-text-color);
}

section.footerNav  ul.toonDrop {
  height: auto;

}

section.footerNav button  {
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.075em;
}


/* onderste gedeelte van de footer */
footer section.bottomFooter  {
  color: var(--second-text-color);
  font-size: 0.8em;

}

footer section.bottomFooter ul:first-of-type {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  border-top: solid 1px var(--borderColor);

}

footer section.bottomFooter ul:first-of-type li a {
  text-decoration: none;
  color: var(--caroCarrouselMainColor);
}



footer section.bottomFooter ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  gap: 0.2em;
  flex-wrap: wrap;
  
}

footer section.bottomFooter ul:first-of-type > li:first-of-type {
  margin-top: 2em;
}

footer section.bottomFooter p {
  margin-top: 2em;
  color: var(--second-text-color);
}


footer section.bottomFooter img {
  width: 3.1em;
  margin: 1em;

}